<div class="version" data-version="@Constants.Version" data-application="@BIASettingsReader.ProjectTitle"></div>
<title>@ViewBag.Title - @BIASettingsReader.ProjectTitle</title>
@{ var pageName = ViewContext.RouteData.Values["controller"].ToString(); }
<div class="bia-dynamic-html-page-elem">
    <div class="contentBackground @(pageName == "Home" ? "homePage" : string.Empty)">
        @RenderSection("OpenForm", required: false)
        <div class="article content-body">
            <div class="container-fluid p-0">
                <div class="content-site" id="wrapper">
                    @RenderBody()
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        @RenderSection("CloseForm", required: false)
    </div>

@if (IsSectionDefined("Buttons"))
{
    <footer class="footer-buttons BIARelativePaddingByHeight">
        <nav class="navbar navbar-expand-sm footer">
            <div class="container">
                @RenderSection("Buttons", required: false)
            </div>
        </nav>
    </footer>
}
else
{
    <footer class="footer-standard">
        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div class="copyright copyright-company"> 2019 @BIA.Net.Common.BIASettingsReader.CompanyName</div>
                </li>
            </ul>
            <span class="framework-version">@string.Format("v{0}", Constants.FrameworkVersion)</span>
            <ul class="navbar-nav form-inline">
                <div class="logoFooter"> </div>
            </ul>
        </nav>
    </footer>
}
</div>

<script>
        $(document).ready(function ($) {
            BIA.Net.Design.Look.InitThemeAndMode("@("BIANetTheme" + PageData["theme"])",
                @((ViewBag.FullScreen==true).ToString().ToLower()),
                @((ViewBag.HiddeFullScreenIcon == true).ToString().ToLower()),
                @((ViewBag.HiddeBreadCrumb == true).ToString().ToLower())
            );
        });
</script>

@Html.Partial("BIA.Net/_Navigation")
@RenderSection("scripts", required: false)
@Html.RenderScripts()

<style>

</style>