@model ZZCompanyNameZZ.ZZProjectNameZZ.MVC.ViewModel.ExampleTable2FACompCol.ExampleTable2FACompColAdvancedFilterVM

@using (Html.BeginForm("_List", "ExampleTable2FACompCol", FormMethod.Post, new { id = "ExampleTable2FACompColFilter", @class = "PreventDuplicateRequest form-horizontal" }))
{
    <div class="filter-box">

	    <div class="form-group">
			@Html.T_Label("Title", htmlAttributes: new { @class = "control-label" } )
            <div class="field">
                @Html.MultiselectFilter("filterTitle", (IEnumerable<SelectListItem>)Model.MslTitle, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
	    <div class="form-group">
			@Html.T_Label("Description", htmlAttributes: new { @class = "control-label" } )
            <div class="field">
                @Html.MultiselectFilter("filterDescription", (IEnumerable<SelectListItem>)Model.MslDescription, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
	    <div class="form-group">
			@Html.T_Label("Site", htmlAttributes: new { @class = "control-label" } )
            <div class="field">
                @Html.MultiselectFilter("filterSite", (IEnumerable<SelectListItem>)Model.MslSite, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div> <!-- all datatables fields are included in the input-box div -->

    <div class="row mt-4">
        <div class="btn-action">
            <button type="button" class="btn btn-second" onclick="BIA.Net.Filter.Action.ResetFilter('#ExampleTable2FACompColFilterContent','#ExampleTable2FACompColTable', BIA.Net.DataTable.LoadingType.FullAjax);">@TextResources.Reset</button>
        </div>
        <div class="btn-action">
            <button type="button" class="btn btn-main btn-filter" onclick="BIA.Net.DataTable.RefreshList('#ExampleTable2FACompColTable', BIA.Net.DataTable.LoadingType.FullAjax);">@TextResources.Filter</button>
        </div>
    </div>
}
