<div style="display:none" class="version" data-version="@Constants.Version" data-application="@BIASettingsReader.ProjectTitle"></div>
<div class="bia-dynamic-html-page-elem">
    @RenderSection("OpenForm", required: false)
    <div class="dialogContainer">
        <div class="dialog-content">
            <h2>@ViewBag.Title</h2>
            <div class="additional-information-container">
                <div class='dotted-title'>
                    <h3>Informations générales</h3>
                    <div class="section-buttons">
                        @RenderSection("Buttons", required: false)
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("CloseForm", required: false)
</div>
@RenderSection("scripts", required: false)

@Html.RenderScripts()
