@model ZZCompanyNameZZ.ZZProjectNameZZ.MVC.ViewModel.WindowsService.IndexVM

@{
    ViewBag.Title = "WindowsService";
}

<h2>Windows Services Status</h2>
<br />
<div>
    Service "@ZZCompanyNameZZ.ZZProjectNameZZ.Common.AppSettingsReader.WindowsServiceName" Status: <b>@Html.DisplayFor(model => model.Status)</b>
</div>

@using (Html.BeginForm("StopService", "WindowsService", FormMethod.Post, new { id = "frmStopService", enctype = "multipart/form-data", @class = "PreventDuplicateRequest" }))
{
    @Html.AntiForgeryToken()
}

@using (Html.BeginForm("StartService", "WindowsService", FormMethod.Post, new { id = "frmStartService", enctype = "multipart/form-data", @class = "PreventDuplicateRequest" }))
{
    @Html.AntiForgeryToken()
}

@using (Html.BeginForm("RestartService", "WindowsService", FormMethod.Post, new { id = "frmRestartService", enctype = "multipart/form-data", @class = "PreventDuplicateRequest" }))
{
    @Html.AntiForgeryToken()
}

@section Buttons {
    <div class="btn-action-container">
        <div class="btn-action">
            <button type="button" onclick="$('#frmStopService').submit()" class="btn btn-main">Stop</button>
        </div>
        <div class="btn-action">
            <button type="button" onclick="$('#frmStartService').submit()" class="btn btn-main">Start</button>
        </div>
        <div class="btn-action">
            <button type="button" onclick="$('#frmRestartService').submit()" class="btn btn-main">Restart</button>
        </div>
    </div>
}


