@model $safeprojectname$.ViewModel.Member.MemberFilterVM

@using (Html.BeginForm("_List", "Member", FormMethod.Post, new { id = "MemberFilter", @class = "PreventDuplicateRequest form-horizontal" }))
{
    <div id="input-box">
        <div class="form-group">
            @Html.Label("User", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="field">
                @Html.MultiselectFilter("memberIds", (IEnumerable<SelectListItem>)Model.MemberDTOIds, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("MemberRoles", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="field">
                @Html.MultiselectFilter("memberRoleIds", (IEnumerable<SelectListItem>)Model.MemberRoleDTOIds, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div> <!-- all datatables fields are included in the input-box div -->

    <div class="row mt-4">
        <div class="btn-action">
            <input type="button" value="Réinitialiser" class="btn btn-second" onclick="BIA.Net.Filter.Action.ResetFilter();" />
        </div>
        <div class="btn-action">
            <button type="button" class="btn btn-main btn-filter" onclick="BIA.Net.Filter.Action.SubmitFilter('Member');">Filtrer</button>
        </div>
    </div>
}

@Html.Script(
@<script>
     BIA.Net.Filter.Action.InitAutoRefresh('Member');
</script>)