@model $safeprojectname$.ViewModel.Member.MemberIndexVM

@{
    ViewBag.Title = TextResources.ListOf + " " + TextResources.Member + "s";
}

<!-- start Sidebar -->
<div class="biaList">
    <div class="biaListContainer">
        <div class="biaListFilter">
            <div class="w-100 mb-4">
                <a class="btn btn-filterbox mb-0 biaListFilter-toggle-cross">
                    <svg viewBox="0 0 16 16"><use xlink:href="#cross" /></svg>
                </a>
                <h3 class="align-middle d-inline">Filtres</h3>
            </div>
            @Html.Partial("_Filter", Model.Filter)
        </div>
        <!-- end Sidebar -->
        <div class="biaListDisplay">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn align-top btn-filterbox empty biaListFilter-toggle" data-toggle="tooltip" data-target="" data-placement="bottom" title="Filtres">
                        <svg viewBox="0 0 16 16"><use xlink:href="#filter-box" /></svg>
                    </a>
                    <h2 class="titlePage align-top">@TextResources.ListOf @TextResources.Member@Html.Raw("s")</h2>
                </div>
                <div class="col dt-buttons-group">
                    @if (User.IsInRole(Constants.RoleAdmin))
                    {
                        @Html.ActionLink(TextResources.New, "Create", new { }, new { @class = "btn btn-main float-right", BIADialogLink = "Type:Modal" })
                    }

                </div>
            </div>
            <div id="MemberList" BIADialogRefresh="OnlyEvent;OnFormValidated:@Url.Action("Create")|@Url.Action("Edit")|@Url.Action("Delete")">
                @Html.Partial("_List", Model.ListMemberDTO)
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        //BIA.Net.DataTable.InitStandard('#MemberTable');
        BIA.Net.DataTable.InitStandard('#MemberTable', ['csv', 'excel']);
    </script>
}
