@model $companyName$.$saferootprojectname$.Business.DTO.ExampleTable3DTO

@{    ViewBag.Title = @TextResources.Create + " " + @Html.Translate("ExampleTable3");
}

<h2>@TextResources.Create @Html.Translate("ExampleTable3")</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ExampleTable3CreateForm", @class = "PreventDuplicateRequest" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.T_LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            @Html.T_LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            @Html.T_LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            @Html.T_LabelFor(model => model.Decimal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Decimal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Decimal, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            @Html.T_LabelFor(model => model.Double, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Double, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Double, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            @Html.T_LabelFor(model => model.DateOnly, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOnly, new { htmlAttributes = new { @class = "form-control calendarPicker" } })
                @Html.ValidationMessageFor(model => model.DateOnly, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            @Html.T_LabelFor(model => model.DateAndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateAndTime, new { htmlAttributes = new { @class = "form-control calendarPicker" } })
                @Html.ValidationMessageFor(model => model.DateAndTime, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            @Html.T_LabelFor(model => model.TimeOnly, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeOnly, new { htmlAttributes = new { @class = "form-control calendarPicker" } })
                @Html.ValidationMessageFor(model => model.TimeOnly, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            @Html.T_LabelFor(model => model.TimeSpan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeSpan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeSpan, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            @Html.T_LabelFor(model => model.TimeSpanOver24H, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeSpanOver24H, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeSpanOver24H, "", new { @class = "text-danger" })
            </div>
        </div> 

    </div>
}

@section Buttons {
    <div class="btn-action-container">
        <div class="btn-action">
            <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-2">@TextResources.BackToList</button>
        </div>
        <div class="btn-action">
            <button onclick="$('#ExampleTable3CreateForm').submit();" class="btn btn-2">@TextResources.Create</button>
        </div>
    </div>
}