@using System.Linq;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content(BIA.Net.Common.BIASettingsReader.UrlStatic + "/BIA.Net/V2.0/Img/favicon.ico")" type="image/vnd.microsoft.icon">
    <title>@ViewBag.Title - @BIA.Net.Common.BIASettingsReader.ProjectTitle</title>
    <version style="display:none">@(new BIA.Net.Common.BIAConstants().Version)</version>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/DataTables/css/css")

    @Styles.Render(BIA.Net.Common.BIASettingsReader.UrlStatic + "/BIA.Net/V2.0/Content/global.min.css")
    @if (PageData["theme"] != null)
    {
        @Styles.Render(BIA.Net.Common.BIASettingsReader.UrlStatic + "/BIA.Net/V2.0/Content/Themes/" + PageData["theme"] + "global." + PageData["theme"].ToString().ToLower() + ".min.css")
    }
    @RenderSection("headerLayout", required: false)
</head>
<body class="@("BIANetTheme" + PageData["theme"])">
    <div class="navbar navbar-bia navbar-static-top">
        <div class="secondary-navbar hidden-xs">
            <div class="left-header-menu">
                <div class="language">
                    @{
                        var currentLanguage = BIA.Net.Common.LanguageInfo.AllLanguageInfos.FirstOrDefault(d => d.Code == ((UserInfo)User).Language);
                        <a data-toggle="collapse" data-target=".language-menu"><b class="caret"></b> @currentLanguage.ShortName</a>
                        <ul class="language-menu collapse">
                            @foreach (var languageInfo in BIA.Net.Common.LanguageInfo.AllLanguageInfos.Where(l => l.Name != currentLanguage.Name).ToList())
                            {
                                <li><a onclick="SetLanguageInfo('@Url.Content("~/Common/SetLanguageInfo/")','@languageInfo.Code')">@languageInfo.ShortName</a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
            <div style="float: right;padding: 0px;padding-right: 20px;">
                <img id="logo">
                <a id="linkFullScreen" class="glyphicon glyphicon-resize-full" datatitle="fullscreen" style="cursor:pointer" onclick="toogleFullScreen()"> </a>
            </div>
            @Html.Partial("_LoginPartial")
            <div style="text-align: center;">
                <a alt="Home @BIA.Net.Common.BIASettingsReader.ProjectTitle" href="@Url.Action("Index","Home")" style="font-size: x-large;">
                    <span class="glyphicon glyphicon-home" style="font-size:20px;"></span>
                    @BIA.Net.Common.BIASettingsReader.ProjectTitle
                </a>
                <span style="font-size: x-small;">@string.Format("v{0}", new BIA.Net.Common.BIAConstants().Version)</span>
            </div>
        </div>
        <div class="main-navbar">
            <div class="navbar-header visible-xs" style="overflow: hidden">
                <div style="float: left;display:inline-block;">
                    <a class="navbar-logo" href="@Url.Action("Index","Home")">
                        <img class="@("logo" + PageData["theme"])">
                    </a>
                </div>
            </div>
            <div class="third-navbar">
                <button style="top: -60px; left: -5px;" type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle Navigation</span> <span class="burger">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </span>
                </button>
            </div>
            <nav class="nav-wrapper">
                @if (Session["MyMenu"] == null)
                {
                    Session["MyMenu"] = Html.Partial("_Menu");
                }
                @Session["MyMenu"]
            </nav>
            <div class="navbar-header hidden-xs" style="overflow: hidden;padding-right: 24px;">
                <a alt="Home @BIA.Net.Common.BIASettingsReader.ProjectTitle" href="@Url.Action("Index","Home")">
                    <img class="@("project-icon-" + PageData["theme"])" />
                </a>
            </div>
        </div>
    </div>

    <div id="PageContent" class="BiaNetMainPageContent">
        @RenderSection("OpenForm", required: false)
        <div class="wrapper" id="page-photo-slider-wrapper">
            <div id="pusher">
                <div id="content" class="subpage">
                    <div class="article content-body">
                        <div class="container-fluid">

                            @if (IsSectionDefined("FlipPannelRight"))
                            {
                                <div class="FlipPannelRight" style="float:left">
                                    <div class="UnFlipPannelRight" style="display: none; float:left; line-height: 20;"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>
                                    <div class="FlipContentRight" style="background-color: white;">
                                        @RenderSection("FlipPannelRight", required: false)
                                    </div>
                                </div>
                            }

                            @if (IsSectionDefined("FlipPannelTop"))
                            {
                                <div class="FlipPannelTop pure-u-1 center">
                                    <div>
                                        <div class="UnFlipPannelTop" style="display: none"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div>
                                        <div class="FlipContentTop" style="padding-top: 15px;">
                                            @RenderSection("FlipPannelTop", required: false)
                                        </div>
                                    </div>
                                </div>
                            }

                            @RenderBody()
                            <footer>
                                @if (ViewBag.Error != null)
                                {
                                    <hr />
                                    <p class="Error">Erreur :  @ViewBag.Error</p>
                                }
                            </footer>
                            <div style="clear: both"></div>
                            <div id="bottomBarPadder" style="margin-bottom:-20px; min-height: 20px">
                            </div>

                            <aside class="pull-right col-xs-20 col-sm-5 col-md-4"> </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="navbar-fixed-bottom btn-action-bottom" id="bottomBar" border-style solid;>
            <div class="container">
                @RenderSection("Buttons", required: false)
            </div>
        </div>

        @RenderSection("CloseForm", required: false)
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $.fn.bootstrapBtn = $.fn.button.noConflict();
    </script>
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="@Url.Content(BIA.Net.Common.BIASettingsReader.UrlStatic + "/BIA.Net/V2.0/script/LanguageInfo.js")"></script>
    <script src="@Url.Content(BIA.Net.Common.BIASettingsReader.UrlStatic + "/BIA.Net/V2.0/script/Layout.js")"></script>
    <script src="@Url.Content(BIA.Net.Common.BIASettingsReader.UrlStatic + "/BIA.Net/V2.0/script/RefreshUserRight.js")"></script>
    @Scripts.Render("~/bundles/ProjectJs")
    @Html.Partial("BIA.Net/_Localization")
    <div id="PageScript">
        <script>
        $(document).ready(function ($) {
            InitThemeAndMode("@("BIANetTheme" + PageData["theme"])", @((ViewBag.FullScreen==true).ToString().ToLower()));
        });
        </script>
        @RenderSection("scripts", required: false)
        @Html.RenderScripts()
    </div>
    @RenderSection("footerLayout", required: false)
</body>
</html>