@model ZZCompanyNameZZ.ZZProjectNameZZ.Business.DTO.ExampleTable3DTO

@{
    ViewBag.Title = TextResources.Delete + " " + Html.Translate("ExampleTable3");
    ViewBag.htmlFormFieldsAttributes = new { @class = "form-control", @disabled = "disabled"};
    ViewBag.IsReadOnly = true;
}

<h2>@TextResources.Delete @Html.Translate("ExampleTable3")</h2>

<h4 class="text-center">@TextResources.AreYouSureDelete</h4>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.Partial("_Form", Model)
    </div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ExampleAjaxDeleteForm" + Model.Id, @class = "PreventDuplicateRequest" })) {
    @Html.AntiForgeryToken()
}

@section Buttons {
    <div class="btn-action-container">
        <div class="btn-action">
            <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-second">@TextResources.BackToList</button>
        </div>
        <div class="btn-action">
            <button onclick="$('#ExampleAjaxDeleteForm@(Model.Id)').submit();" class="btn btn-main">@TextResources.Delete</button>
        </div>
    </div>
}

